local.properties
ext.properties

# for gradle, IDEA
.gradle
build/
*.iml
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/dictionaries/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/
.idea/caches/
.idea/codeStyles/

# for eclipse
bin
gen
.classpath
.project


# for Crashlytics
crashlytics.properties

# for bitrise
.bitrise.secrets.yml
gradle.deps
